
<div class="container contact-form">
  <header>
    <h1 class="contact-header">Contact Us</h1>
  </header>

<%= flash[:notice] %>
<%= form_with(url: "/static_pages/thank_you") do |form| %>


  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name", :required => true %>
      </div>        
      <div class="form-group">
        <%= form.label :email, "Email Address" %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email", :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control message-box", placeholder: "Enter Message", :required => true  %>
      </div>        
    </div> <!-- col end -->
  </div> <!-- row ends -->
  <%= form.submit "Send",  class: "btn btn-primary send-message" %>  
  <br><br><br> 

<% end %>

  <div class="row"> <!-- start 3rd row -->
    <div class="col-xs-12 col-sm-3 col-md-4 address">
      <p>
         <span class="glyphicon glyphicon glyphicon-envelope"></span>
         <a href="mailto:sazkam@hotmail.com">sazkam@hotmail.com</a>
         <br>
      </p>
      <p>
         <span class="glyphicon glyphicon-glyphicon glyphicon-home"></span>
         Heinrich Heine Strasse 5,<br>79117 Freiburg, Germany<br>
      </p>
      <p>
        <span class="glyphicon glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        004917612121212<br>
        <span class="glyphicon glyphicon glyphicon-print"></span>
        Fax no:   14758962145<br><br>
      </p>
    </div><!-- end column -->
  </div><!-- end row -->
</div> <!-- end container -->
