<div class="container">
  
  <h2 class="form-center" >Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="row">
    <div class="col-sm-5 col-md-offset-4">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control" ,placeholder:"Email address", autocomplete: "off"%>
      </div>    
    </div>

    <div class="col-sm-5 col-md-offset-4">
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off",  class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-md-offset-4 form-center">
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>
    </div>


    <div class="col-sm-5 col-md-offset-4 form-center">
      <%= f.submit "Log in", class:"btn btn-default" %>
    </div>  

  <% end %>

    <div class="col-sm-5 col-md-offset-4 form-center">
      <%= render "devise/shared/links" %>
    </div>
  </div> 
</div> <!-- end container -->